* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    scroll-behavior: smooth;
    transition: all 0.2s ease-in;
}

:root {
    --primary-font-size: 2.6rem;
    --secondary-font-size: 0.5rem;
    --primary-text-color: #173e4e;
    --small-text-color: #819098;
    --primary-color: rgb(229, 149, 0);
    --secondary-color: #ffae00d5;
}

.nav-bar {
    display: flex;
    height: 12vh;
    align-items: end;
    padding-bottom: 13px;
    padding-left: 5%;
    padding-right: 4%;
    justify-content: space-between;
    color: var(--small-text-color);
    border-bottom: 1px solid rgb(230, 230, 230);
    background-color: #edfffc;
    top: 0;
    width: 100%;
    z-index: 30;
    backdrop-filter: blur(5px);
}

.logo img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    transform: translateY(6px);
}

.nav-bar ul {
    display: flex;
    list-style: none;
    gap: 50px
}

.nav-bar ul li a {
    font-size: 110%;
    color: #4f5e66;
    text-decoration: none;
}
.nav-bar ul li {position: relative;}

.nav-bar ul li::after {
    position: absolute;
    display: block;
    content: " ";
    margin: 0 auto;
    left: 50%;
    bottom: -4px;
    width: 0%;
    height: 2px;
    background-color: var(--primary-color);
    transition: 0.3s ease;
    transform: translateX(-50%);
}
.nav-bar ul li:hover::after {
    width: 100%;
}

.profile {
    background-color: rgb(255, 252, 221);
    padding: 18px;
    color: var(--primary-color);
    font-weight: bold;
    font-size: 0.9rem;
    border-radius: 15px;
}

.hero {
    display: flex;
    margin-top: 1vh;
    gap: 10%;
}

.left {
    flex-basis: 35%;
    margin-left: 10vw;
    padding-top: 12vh;
}

.left h2 {
    text-align: start;
    font-size: var(--primary-font-size);
    color: #245260;
}

#highlight {
    font-size: var(--primary-font-size);
    color: var(--primary-color)
}

.left p {
    color: var(--small-text-color);
    padding-top: 20px;
}

.right img {
    flex-basis: 40%;
    width: 125%;
    height: auto;
    filter: saturate(140%);
}

.shop-icon {
    font-size: 110%;
    font-weight: 600;
    padding-right: 10px;
}

.left h6 {
    display: flex;
    background-color: var(--primary-color);
    margin-top: 30px;
    padding: 25px 60px;
    border-radius: 20px;
    justify-content: center;
    width: fit-content;
    color: rgb(255, 255, 255);
    box-shadow: 0px 1px 4px #8f8f8f;
}
.left h6 a{
    text-decoration: none;
    color: white;
}
.left h6:hover {
    box-shadow: none;
    transform: translateY(1px);
    cursor: pointer;
}

.achievements {
    width: 100%;
    background-color: var(--secondary-color);
    display: flex;
    padding: 3% 5%;
    margin-top: 1%;
}

.achievements h2 {
    font-size: 150%;
    margin-left: 6%;
    flex-basis: 40%;
}

.achievements ul {
    list-style: none;
    display: flex;
    flex-basis: 60%;
    width: 100%;
}

.achievements ul li {
    padding: 0 7%;
    border-left: 1px solid #f4f4f4;
}

.achievements ul li:first-of-type {
    border: 0;
}

.achievements h3 {
    font-size: 120%;
}

.achievements p {
    font-size: 80%;
}

/* Services Section */
.services-section {
    background-color: #f3f4f6;
    display: flex;
    padding: 8%;
    gap: 2%;
}

.service-card {
    background-color: white;
    padding: 2% 3%;
    flex-basis: 70%;
    border-radius: 20px;
}

.head h2 {
    font-size: 170%;
    color: var(--primary-text-color);
    margin-bottom: 4%;
}

.head p {
    font-size: 90%;
    color: #4b5b62;
}

#services {
    border-top: 1px solid rgb(202, 202, 202);
    border-bottom: 1px solid rgb(202, 202, 202);
    padding: 2.5% 0;
    margin: 3% 0;
}

.service {
    display: flex;
    justify-content: space-between;
    padding: 1.3% 0;
    color: #4b5b62;
}

.add {
    width: 150px;
    height: 40px;
    display: flex;
    gap: 3px;
    justify-content: center;
    align-items: center;
    color: #4b5b62;
    border-radius: 10px;
    background-color: #f0f0f0;
}
.add span {
    font-size: 80%;
    font-weight: 600;
}
.add-icon {
    font-size: 140%;
    font-weight: 600;
}
.remove-icon {
    font-size: 140%;
    font-weight: 600;
}

.price {
    color: #3c10ff;
    padding-left: 5px;
    line-height: 1.4;
}

.ico {
    transform: translateY(7px);
}

.book-services {
    flex-basis: 40%;
}

.service-cart {
    background-color: white;
    border-radius: 20px;
    margin-bottom: 3%;
}

.service-cart h4 {
    text-align: center;
    padding: 3% 2%;
    color: #173e4e;
}

.cart-header ul {
    padding: 2% 5%;
    display: flex;
    list-style: none;
    gap: 4px;
    background-color: #f5f5f5;
}

.cart-header ul li {
    font-size: 70%;
    font-weight: 600;
    color: #4b5b62;
}

.empty-cart {
    height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow-y: auto;
}

.info-icon {
    font-size: 220%;
    color: #51595d;
}

.empty-cart h6 {
    font-size: 90%;
    color: #51595d;
    margin-bottom: 2px;
}

.empty-cart p {
    font-size: 70%;
    color: #819098;
}

.filled-cart {
    width: 100%;
    height: 10.6rem;
    padding: 0 5% 3%;
    overflow-y: auto;
}

.row ul{
    padding: 2% 3%;
    display: flex;
    list-style: none;
    gap: 4px;
}
.row ul li{
    font-size: 80%;
    font-weight: 600;
    color: #4b5b62;
    padding: 4px 0;
}
.row{border-top: 1px solid rgb(231, 231, 231);}

.one {flex-basis: 15%;}
.two {flex-basis: 60%;}
.three {flex-basis: 25%;}

.cart-header .two{flex-basis: 55%;}

.total {
    display: flex;
    justify-content: space-between;
    padding: 1% 6%;
    border-top: 1px solid #d6d6d6;
}

.total h4 {
    font-size: 90%;
    color: #173e4e;
}

.book-now {
    background-color: white;
    padding: 6% 5%;
    border-radius: 20px;
    height: 16.5rem;
}

.book-now>h4 {
    color: #173e4e;
    margin-bottom: 3px;
}

form label {
    font-size: 75%;
    font-weight: 700;
    color: #49565b;
}

form input {
    padding: 12px 8px;
    width: 100%;
    border-radius: 10px;
    font-size: 80%;
    overflow: auto;
    border: 1px solid #81909896;
    margin-bottom: 3px;
}
form input:focus {
    outline: none;
    border: 1px solid rgb(86, 89, 255);
}
form input::placeholder {color: rgb(208, 208, 208);}
.msg1 {
    color: red;
    transform: translateY(4px);
    font-size: 80%;
}
.msg2 {
    color: rgb(0, 164, 11);
    transform: translateY(5px);
    font-size: 90%;
}
.msg ion-icon{
    transform: translateY(4px);
    margin-right: 2px;
}

.msg {text-align: center;}

.credentials {
    display: flex;
    gap: 3%;
}

.book-btn {
    text-align: center;
    background-color: #a5a7ffd1;
    padding: 5%;
    margin-top: 4%;
    font-size: 80%;
    color: white;
    border-radius: 15px;
    width: 100%;
    border: none;
}

.features {
    padding: 4% 8%;
}

.features-container {
    display: flex;
    gap: 4%;
    text-align: center;
}

.fa-solid {
    font-size: 300%;
    color: #ffae00;
    margin-bottom: 8px;
}

.feature h3 {
    font-size: 110%;
    margin-bottom: 8px;
    color: var(--primary-text-color);
}

.feature p {
    font-size: 85%;
    color: var(--small-text-color);
    line-height: 130%;
}

.newsletter {
    background-color: #d08300d5;
    padding: 4% 8%;
}

.newsletter-container {
    display: flex;
    gap: 2%;
}

.newsletter-text {
    flex-basis: 35%;
    display: flex;
    align-items: center;
}

.newsletter-text h2 {
    font-size: 200%;
    color: white;
}

.newsletter-form {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    flex-basis: 63%;
}

.newsletter-form input {
    padding: 12px 15px;
    border: 1px solid rgba(255, 255, 255, 0.322);
    outline: none;
    width: 40%;
    background-color: rgba(255, 255, 255, 0.198);
    border-radius: 2px;
    color: white;
}

.newsletter-form input::placeholder {
    color: rgba(255, 255, 255, 0.665);
}

.newsletter-form button {
    padding: 12px 35px;
    border: none;
    background: white;
    color: #d08300d5;
    font-weight: bold;
    cursor: pointer;
    width: 260px;
}

footer {
    background-color: #d8dfe9;
    padding: 6% 7% 4% 8%;
}
footer .logo{
    margin-bottom: 10px;
}
.footer-container {
    width: 85%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}
footer h4{
    color: #282828;
    margin-bottom: 10px;
}
footer p {
    color: #666;
    font-size: 14px;
}
.footer-links ul {
    list-style: none;
}
.footer-links li {
    margin-bottom: 8px;
}
.footer-links a {
    text-decoration: none;
    color: #666;
}
.footer-links a:hover {
    color: black;
}
.social-icons {
    display: flex;
    gap: 15px;
    margin-top: 10px;
}
.social-icons a{
    color: #444;
}
.social-icons a:hover{
    color: var(--primary-color);
}
.cart-row ul{
    padding: 2% 3%;
    display: flex;
    list-style: none;
    gap: 4px;
}

.cart-row li{
    font-size: 70%;
    font-weight: 600;
    color: #4b5b62;
}

.cart-row .one {flex-basis:15%;}
.cart-row .two {flex-basis:60%;}
.cart-row .three {flex-basis:25%;}